{% extends "myapp/base.html" %}
{% block body %}

<div class="container">
    <div class="row" style="height: 80vh;">
        <div class="col-md-6"></div>
        <div class="card-body col-md-12 d-flex flex-direction-column justify-content-center align-items-center">
        <form class="p-5 shadow card" method = "POST">
            <h1 class="">Add Task</h1>
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Task Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="priority" id="priority" placeholder="Enter Task Priority"/>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="start_date" id="start_date">
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="end_date" id="end_date">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="description" id="description" placeholder="Enter Task description">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="status" id="status" placeholder="Enter Task status">
            </div>
            <input class="btn btn-success" type="submit">
        </form>
    </div>
</div></div>
{%endblock%}

<!--
<form method = "POST">
    {% csrf_token %}
    <input type="text" name="name" id="name" placeholder="Enter Task Name">
    <input type="text" name="priority" id="priority" placeholder="Enter Task Priority">
    <input type="date" name="start_date" id="start_date">
    <input type="date" name="end_date" id="end_date">
    <input type="text" name="description" id="description" placeholder="Enter Task description">
    <input type="text" name="status" id="status" placeholder="Enter Task status">
    <input type="submit">
</form>
-->